body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: #0c6eee;
}
.login{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e9e6e6;
    width: 400px;
    height: 500px;
    box-shadow: 5px 10px 20px #474646;
    border-radius: 10px;
}

.login img {
    width: 50%;
}

#text{
    margin:10px 0px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#text::placeholder{
    color: #b4b4b4;
    text-align: center;
}
#text:focus{
    outline: 2px solid #5994eca6;
}

#password{
    margin:10px 0px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#password::placeholder{
    color: #b4b4b4;
    text-align: center;
}

#password:focus{
    outline: 2px solid #5994eca6;
}

#btn{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    border-radius:4px;
    border: none;
    color: #fff;
    background: #056af0;
}
#btn:hover{
    background: #0561da;
}

#btn:active{
    background: #2480f8;
}